Classroom Info
<p> <%= render partial: 'classroom', locals: { classroom: @classroom } %> </p>
We now want to call out the students in the class:
<% @classroom.students.all.each do |student| %>
  <p> <%= render partial: 'students/student', locals: {student: student } %> </p>
<% end %>

